---
import Layout from '../../layouts/Layout.astro';
import ChartingACourse from './_charting_a_course.typ';
---
<Layout title="charting a course - tejas prabhune">
  <article class="post">
    <header class="post-header">
      <h1>charting a course</h1>
    </header>
    <div class="post-content">
      <ChartingACourse />
    </div>
  </article>
</Layout>
